h1 {
    color: blue;
    text-align: center;
    font-style: oblique;
    font-size: 60px;
}

#a {
    color: darkgreen;
    font-size: 25px;
}

.b {
    color: greenyellow;
    background-color: indigo;
}

#c {
    align-items: initial;
}